page-login {

  ion-item {
    margin-top: 10px;
  }

  .version {
    text-align: right;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  .form-error {
    margin-bottom: 15px;
  }
}
