
  ion-item {
    margin-top: 10px;
    padding-left: 15px;

  }

  ion-item.item-label {
    padding-left: 0;
  }


    .version {
    text-align: right;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  .form-error {
    margin-bottom: 15px;
  }
