page-settings {

	img {
		left: 50%;
		position: absolute;
		margin: 20px 0 10px -100px;
	}

	ion-content {
		margin-top: 150px;
	}
	
	div.userBox {
		
		margin: 15px;
	
		ion-icon {
			font-size: 4.5em;
			float:left;
		}
		
		div.inner {
			margin-left: 20px;
			margin-top: 6px;
			display: inline-block;
		}
		
		div.clear {
			clear:both;
		}
		
	}
	
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		border-bottom-color: #BF360C;
		-webkit-box-shadow: inset 0 -1px 0 0 #BF360C;
		box-shadow: inset 0 -1px 0 0 #BF360C;
	}

}
