<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.JOIN_GROUP' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  {{ 'SETTINGS.ABOUT_GROUPS' | translate}}
  {{ 'SETTINGS.ABOUT_JOINING_GROUPS' | translate}}

  <form>
    <br>
      <ion-item>
        <ion-input class="groupKey" type="text" [(ngModel)]="groupKey" name="group_key" placeholder="{{ 'SETTINGS.GROUP_KEY' | translate}}"></ion-input>
      </ion-item>
    <br>
    <ion-button (click)="joinGroup()" ion-button expand="full">{{ 'SETTINGS.JOIN_GROUP' | translate}}</ion-button>
  </form>
  <p class="errorMessage" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
  <p class="successMessage" *ngIf="successMessage !== ''">{{successMessage}}</p>
</ion-content>
<div class="overlay" [hidden]="!loading">
    <span class="center">
      <span>Managing groups...</span>
    <br />
    <br />
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </span>
</div>
