<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="signup()" [formGroup]="form">
    <ion-list inset>

      <div padding-vertical>
        <h4>{{'SIGNUP.EXPLANATION' | translate}}</h4>
      </div>

      <ion-item>
        <ion-input type="text" placeholder="{{'SIGNUP.WORKMAIL' | translate}}" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding-horizontal>
      <ion-button ion-button expand="full" type="submit">{{ 'SIGNUP.SIGNUP' | translate}}</ion-button>
    </div>
    <div padding>
      <div class="form-error" *ngIf="signupError !== ''">
        <ion-icon color="primary" name="warning"></ion-icon>
        {{signupError}}</div>
    </div>
  </form>
</ion-content>
