page-time {
	img {
		left: 50%;
		position: absolute;
		margin: 20px 0 10px -100px;
	}

	.item .label {
		min-width: 60px;
        max-width: 60px;
		font-size: large;
	}
    
    div.participants {
        width: calc(100% - 65px);
        text-align: right;
    }

	button.item-button.button.button-md.button-outline.button-outline-md {
		min-width: 60px;
		margin-left: 20px;
	}

	h2 {
		margin-top: 30px;
	}
	
	ion-content {
		margin-top: 150px;
	}
	
	#addDate.icon {
		font-size: 6em;
		width: 100%;
		text-align: center;
	}
}

