
  ion-toolbar button {
    float: right;
    padding-bottom: 5px;
  }

  ion-header {
    background-image: url(/assets/img/new_header.jpg);
    background-size: cover;
    background-position: center;
    min-height: 150px;

    ion-toolbar {
      display: none;
    }
  }

  ion-content .scroll-content {
    margin-top: 155px!important;
  }

  h1 {
    display: none;
  }

