  img.logo {
    left: 50%;
    position: absolute;
    margin: 20px 0 10px -100px;
  }

  h4 {
    padding: 15px;
  }

  .headingSpacer {
    height: 130px;
  }

  div.userBox {

    margin: 0 15px 15px 15px;

    ion-icon {
      font-size: 5.5em;
      float: left;
    }

    .imageContainer {
      float: left;

      img {
        height: 70px;
        width: 70px;
        margin-top: 10px;
        border-radius: 50%;
      }
    }

    div.inner {
      margin-left: 20px;
      margin-top: 6px;
      display: inline-block;
      max-width: calc(100% - 110px);
    }

    div.clear {
      clear: both;
    }

  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: black;
  }



