<ion-content padding>
  <div class="headingSpacer">
    <img class="logo" width="200" src="assets/img/app_banner.png">
  </div>

  <div class="userBox">
    <ion-icon [hidden]="userImage !== undefined" (click)="selectImage()" name="contact"></ion-icon>
    <div class="imageContainer" [hidden]="userImage === undefined" (click)="selectImage()"><img src="{{userImage}}"></div>
    <div class="inner">
      {{global.user.name}}
      <br>
      {{auth.getEmail()}}
      <br>
      {{ global.group.name }} ({{ this.global.group.roles.length }} {{ 'SETTINGS.MEMBERS' | translate}})
      <br>
      <a (click)="logout()">{{'SETTINGS.LOGOUT' | translate}}</a>
    </div>
    <div class="clear"></div>
  </div>

  <br>

  <ion-item>
    <ion-label color="primary">{{'SETTINGS.NAME' | translate}}</ion-label>
    <ion-input placeholder="{{'SETTINGS.ADD_NAME' | translate}}" (input)="onInput()"
               [(ngModel)]="global.user.name"></ion-input>
  </ion-item>

  <h3 *ngIf="global.user.name === undefined || global.user.name == ''">{{'SETTINGS.NEED_NAME' | translate}}</h3>

  <ion-item>
    <ion-label>{{'SETTINGS.NEW_NOTIFICATION' | translate}}</ion-label>
    <ion-toggle (ionChange)="onAllowPush()" [(ngModel)]="global.user.allowPush"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{'SETTINGS.START_NOTIFICATION' | translate}}</ion-label>
    <ion-toggle (ionChange)="onAllowReminder()" [(ngModel)]="global.user.allowReminder"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{'SETTINGS.LANGUAGE' | translate}}</ion-label>
    <ion-select (ionChange)="onLanguageChange()" [(ngModel)]="global.language">
      <ion-select-option value="de">Deutsch</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item detail-push (click)="onAbout()">
    {{'SETTINGS.ABOUT' | translate}}
  </ion-item>

</ion-content>
<div class="overlay" [hidden]="imageUpload === ''">
  <span class="center">
    <span [hidden]="imageUpload !== 'selecting'">Waiting for image gallery</span>
    <span [hidden]="imageUpload !== 'uploading'">Uploading image</span>
  <br />
  <br />
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</span> </div>
